.container{
    background-color: black;
    padding: 5px 25px;
    text-align: right;
    overflow: hidden;
    
    
    
}
a{
    color: antiquewhite;
    padding: 5px 15px;
    overflow: hidden;
    font-family: sans-serif;
    text-decoration: none;
}

.image{
    background-image: url(https://images.unsplash.com/photo-1674902588009-b7b9f9391216?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    height: 700px;
    text-align: center;
    font-size: 200px;

}
#john{
    height: 500px;
    background-color: dimgrey;
    
}
marquee{
    font-size: 100px;
    color: #00aaff;
    
}
html{
    scroll-behavior: smooth;
}
h1{
    color: red;
    font-size: 20px;
    text-align: center;
}

:hover{
    color: grey;
}
#john pre{
    color: white;
    font-size: large;
}
#john code{
    color: aqua;
}
#john samp{
    color: rgb(83, 159, 21);
    font-size: 30px;
}